body {
  background-color: #181b1d;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

main {
  grid-area: 'main';
  width: 95%;
  margin: auto;

  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.alert {
  width: 100%;
}

.danger {
  background-color: rgb(255 124 124);
  color: red;
  border: solid 1px red;
  padding: 20px;
  transition: 2s;
}
