.val_comp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0px;
}

.val_comp p {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 1rem;
}

.form_div {
  /* border: 1px solid white; */

  width: 90%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;
  margin-bottom: 50px;
}

.contact_form > label,
input {
  display: block;
}

.form_div p {
  color: rgb(212, 23, 23);

  padding: 0px;
  margin-top: 10px;

  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 0.8rem;
}

.contact_us {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0px;
}

.contact_us p {
  color: #fff;

  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 01.2rem;
}

.form_div label {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 1rem;
}

input[id='name'] {
  width: 600px;
  height: 30px;
}

input[id='subject'] {
  width: 100%;
  height: 150px;
}

#email {
  width: 100%;
  height: 30px;
}

#address {
  width: 100%;
  height: 30px;
}

input[type='text'] {
  margin: 10px 0px;
}

input[type='text']:focus {
  margin: 10px 0;
}

#submit {
  width: 100%;
  height: 30px;

  margin: 10px 0px;

  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 6px #444444;
  border-radius: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.error {
  display: none;
}
